/*colors*/
/*http://paletton.com/#uid=a3y1q0koOs0n1yCk9Jbo8lLp9g4*/


.main-color
{
    color: #286090;
}

.main-background-color {
    background-color: #286090;
}

.contrast-color
{
    color: #FFF488;
}

.black-color
{
    color: #333;
}

.white-color
{
    color: #fff;
}

.body-background-color {
    background-color: rgb(244, 244, 246);
}

.truncate
{
    width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div-shadow
{
    box-shadow: 2px 2px 5px #dbdbdb;
}

.no-padding-left
{
    padding-left: 0px;
}

.white-background
{
    background-color: #fff;
}

.ref-box-padding
{
    padding: 15px;
    margin-top: 15px;
}

.ref-list-padding
{
    padding: 10px;
    margin-top: 10px;
}

.no-margin-top
{
    margin-top: 0px;
}

.ref-box-icon-size
{
    font-size: 14px;
}

.ref-list-icon-size
{
    font-size: 25px;
}

.link-decoration
{
    text-decoration: none ;
    /*color: #286090;*/
}

.link-decoration:link {
    text-decoration: none;
    /*color: #286090;*/
}

.link-decoration:hover
{
    text-decoration: none;
    color: #286090;
}

.link-decoration:active {
    text-decoration: none;
}

.link-decoration:visited {
    text-decoration: none;
}

.ref-text-color
{
    color: #286090;
}

.no-margin
{
    margin: 0px;
}

.table-header
{
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

.th-td-padding
{
    padding-bottom: 5px;;
    padding-top: 5px;;
}

.table-row:nth-child(odd) {
    background-color: #eaeaea;
}

.table-full-width
{
    width: 100%;
}

.margin-bottom-15px
{
    margin-bottom: 15px;
}

.add-ref-ins-text-size
{
    font-size: 20px;
}

.chevron-icon-size
{
    font-size: 27px
}

.no-padding-top
{
    padding-top: 0px;
}

.ref-info-row-padding
{
    padding-bottom: 15px;
}

.text-right
{
    text-align: right;
}

.margin-left-danger
{
    margin-left: 15px;
}

.float-right
{
    float: right;
}

.truncate-ref-link
{
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fixed-position.col-md-4
{
    position: fixed;
    width: 20%;
}

.padding-top-80px
{
    padding-top: 80px;
}

.padding-top-30px
{
    padding-top: 30px;
}

.padding-top-20px
{
    padding-top: 20px;
}

.padding-top-15px
{
    padding-top: 15px;
}

.padding-top-10px
{
    padding-top: 10px;
}

.padding-top-5px
{
    padding-top: 5px;
}

.margin-top-20px
{
    margin-top: 20px;
}

.margin-top-50px
{
    margin-top: 50px;
}

div.scrollExtend-loading {
    /*height: 80px;*/
    background: url("../images/ripple.gif") no-repeat center bottom;
    background-size: 60px 60px;
}

.word-wrap
{
    word-wrap: break-word;
}

.padding-left-20px
{
    padding-left: 20px;
}

.padding-left-25px
{
    padding-left: 25px;
}

.padding-left-30px
{
    padding-left: 30px;
}

.font-size-18px
{
    font-size: 18px;
}

.bittex-textarea {
    height: 150px;
}

.active-row {
    background-color: rgba(0,0,0,.075);
}











/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
}

.btn-primary.btn-outline {
    color: #286090;
    border-color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-success.btn-outline:focus,
.btn-info.btn-outline:focus,
.btn-warning.btn-outline:focus,
.btn-danger.btn-outline:focus
{
    color: #fff;
}


/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {*/
    /*!*background-color: #FFEF4E;*!*/
    /*!*background-color: #FFF488;*!*/
    /*color: #FFF488;  !*Sets the text hover color on navbar*!*/
/*}*/

/*.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >*/
/*a:hover, .navbar-default .navbar-nav > .active > a:focus {*/
    /*color: #fff ;*/
    /*!*BACKGROUND color for active*!*/
    /*background-color: #5597CD;*/
/*}*/

/*.navbar-default {*/
    /*background-color: #286090;*/
    /*border-color: #163753;*/
/*}*/

/*!*.dropdown-menu > li > a:hover,*!*/
/*!*.dropdown-menu > li > a:focus {*!*/
    /*!*color: #262626;*!*/
    /*!*text-decoration: none;*!*/
    /*!*background-color: #66CCFF;  !*change color of links in drop down here*!*!*/
/*!*}*!*/

/*!*.nav > li > a:hover,*!*/
/*!*.nav > li > a:focus {*!*/
    /*!*text-decoration: none;*!*/
    /*!*background-color: #FFEF4E; !*Change rollover cell color here*!*!*/
/*!*}*!*/


/*.navbar-default .navbar-nav > li > a {*/
    /*color: white; !*Change active text color here*!*/
/*}*/

/*.navbar-default .navbar-brand*/
/*{*/
    /*color: #fff;*/
/*}*/
